{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'styles/styles.css'%}">
    <title></title>
</head>

<body>
    <div class="wide_image_container">
        <header class="container">
            <a class="logo" href="index.html"><img src="{%static 'svg/airbnb.svg'%}" alt=""></a>

            <div class="center_menu">
                <a href="index.html">Places to Stay</a>
                <a href="index.html">Experiences</a>
                <a href="index.html">Online Experiences</a>
            </div>

            <div class="right_menu">
                <a class="button" href="index.html">Become a Host</a>
                <a class="button language" href="index.html"><img src="{%static 'svg/language.svg'%}" alt=""></a>

                <a class="user_menu" href="index.html">
                    <img src="{%static 'svg/menu.svg'%}" alt="">
                    <img src="{% static 'svg/account.svg'%}" alt="">
                </a>
            </div>
        </header>

        <div class="start_container">
            <h1>Not sure where to go? Perfect.</h1>
            <a class="button_container" href="">
                <h3>I'm flexible</h3>
            </a>
        </div>
    </div>

    <div class="cities container">
        <h2>Inspiration for your next trip</h2>

        <div class="cities_container">
            <a class="city" href="cities/paipa.html">
                <figure>
                    <img src="{%static 'img/default_city1.webp'%}" alt="">
                </figure>

                <div class="city_info">
                    <h3>Paipa</h3>
                    <p>45 minute drive</p>
                </div>
            </a>

            <a class="city" href="">
                <figure>
                    <img src="{%static 'img/default_city2.webp'%}" alt="">
                </figure>

                <div class="city_info">
                    <h3>San Gil</h3>
                    <p>3 hour drive</p>
                </div>
            </a>

            <a class="city" href="">
                <figure>
                    <img src="{%static 'img/default_city3.jpg'%}" alt="">
                </figure>

                <div class="city_info">
                    <h3>Medellin</h3>
                    <p>7.5 hour drive</p>
                </div>
            </a>

            <a class="city" href="">
                <figure>
                    <img src="{%static 'img/default_city4.webp'%}" alt="">
                </figure>

                <div class="city_info">
                    <h3>Villeta</h3>
                    <p>3.5 hour drive</p>
                </div>
            </a>
        </div>
    </div>
</body>

</html>